---
import config_json from "../../review_templates/template_en.json";
import PageLayout from "../../layouts/PageLayout.astro";
import OptionForm from "../../components/OptionForm.astro";
import FlagSelect from "../../components/FlagSelect.astro";
---

<PageLayout title="Steam Review Template">
  <header class="bg-gradient-to-r from-slate-800 to-slate-700 text-white py-6 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">
      Steam Review Creator
    </h1>
    <FlagSelect />
    <p class="mt-2 text-lg">Create awesome reviews with ease</p>
  </header>

  <main class="max-w-3xl mx-auto px-4 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 mb-8">
      <p class="mb-4">
        This tool simplifies the creation of copy-pasta Steam reviews. If you're here, this is exactly what you're looking for! I find them moderately funny, so I made this website to avoid copy-pasting the copy pasta so much. 😆
      </p>
      <p class="mb-4">
        The code is open source → <a
          target="_blank"
          href="https://github.com/VojtaStruhar/steam-review-template"
          class="text-blue-600 hover:underline"
      >
        check it out on Github</a>!
      </p>
      <p>
        The result generates with a line at the bottom that gives me credit. Leaving it there is optional, but highly appreciated! Thanks!
      </p>
    </div>

    {
      config_json.categories.map((category) => (
          <OptionForm category={category} />
      ))
    }

    <div class="flex flex-col items-center gap-4 mt-8">
      <button
          id="output-button"
          class="cursor-pointer py-3 px-6 text-lg font-bold rounded-full bg-slate-600 text-white hover:shadow-lg transition-all border-none"
      >
        Generate Steam Review
      </button>

      <button
          id="copy-output"
          class="cursor-pointer py-2 px-4 text-lg rounded-full bg-sky-100 hover:bg-sky-200 transition-all border-none drop-shadow-lg"
      >
        Copy output
      </button>
    </div>

    <pre id="output" class="mt-8 p-4 bg-gray-100 rounded-lg overflow-x-auto"></pre>
  </main>
</PageLayout>

<style>
  input[type="radio"],
  input[type="checkbox"] {
    @apply w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500;
  }
</style>
